@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: black;
}

#intro {
    background-image: url(assets/images/Background/2.jpg);
    max-width: 100% !important;
    min-height: 105vh;
    position: relative;
    background-size: cover;
    font-family: 'Montserrat Alternates', sans-serif;
    animation: slide 20s infinite;
}

@keyframes slide {
    0%{
        background-image: url(assets/images/Background/2.jpg);
    }
    25%{
        background-image: url(assets/images/Background/3.jpg);
    }
    50%{
        background-image: url(assets/images/Background/4.jpg);
    }
    75%{
        background-image: url(assets/images/Background/5.jpg);
    }
}

#navbar-logo{
    max-width: 70%;
}

#btn-contact-us{
    font-size: 20px;
    padding: 15px 50px 15px 50px;
    margin-left: 40px;
}

#logo-banner{
    margin-top: 70px;
}

#banner-logo {
    margin-top: 50px;
    max-width: 25%;
    margin-left: -13%;
    position: absolute;
    border-style: solid;
    border-color: white;
}

.carousel-item {
    min-height: 100vh;
    background: #777;
    color: white;
    position: relative;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

#container-carousel {
    margin-top: 20%;
    margin-left: 35%;
    position: absolute;
    box-shadow: 0px 0px 15px 15px #000;
}

#sm-container-img {
    max-width: 100%;
    min-height: 100%;
}

.mini-gallery{
    padding: 5px 5px 5px 5px;
    width: 100%;
    margin: 0px;
}

#gamemode-title{
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
}

#gamemode-logo {
    margin-right: 20px;
    max-width: 10%;
}

#server-content{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 700;
}

.content {
    margin-top: -50vh;
}

.title{
    color: white;
    font-weight: 900;
    font-size: 60px;
    font-family: sans-serif;
}

.bg-darker{
    background-color: rgba(0, 0, 0, 0.692);
}

#rules {
    background-image: url(assets/images/GMODSS/hl2_hBPEMzGGXo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

#rules-content {
    padding-top: 10%;
}

#rules-list {
    font-size: 20px;
    margin-top: 40px;
    color: white;
}

.text-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 50px 20px 50px;
}

.no-padding{
    padding: 0px !important;
    margin: 0px !important;
}

/* 1600 * 900 */
@media all and (min-width: 1367px) and (max-width: 1600px){
    #container-carousel {
        margin-top: 20%;
        margin-left: 35%;
        position: absolute;
        box-shadow: 0px 0px 15px 15px #000;
        max-width: 60%;
    }
    
    #sm-container-img {
        max-width: 100%;
        min-height: 100%;
    }
    
    .mini-gallery{
        padding: 5px 5px 5px 5px;
        width: 100%;
        margin: 0px;
    }
    
    #gamemode-title{
        font-size: 30px;
        color: white;
        font-family: sans-serif !important;
        font-weight: 400;
        margin-top: 10px;
    }
    
    #gamemode-logo {
        margin-right: 20px;
        max-width: 10%;
    }
    
    #server-content{
        text-decoration: none;
        color: white;
        font-size: 22px;
        font-weight: 700;
    }
}

/* Laptop Mode */
@media all and (min-width: 720px) and (max-width: 1366px){
    #navbar-logo{
        max-width: 50%;
        margin-left: 150px;
    }

    #btn-contact-us{
        font-size: 20px;
        padding: 10px 30px 10px 30px;
        margin-left: 100px;
    }

    .banner-image {
        background-image: url(assets/images/Background/9.jpg);
        background-size: cover;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .content {
        margin-top: -40vh;
    }

    .title{
        color: white;
        font-weight: 900;
        font-size: 40px;
    }

    #banner-logo {
        margin-top: 30px;
        margin-left: -13%;
        max-width: 25%;
        position: absolute;
        border-style: solid;
        border-color: white;
    }

    #container-carousel {
        margin-top: 20%;
        margin-left: 35%;
        position: absolute;
        box-shadow: 0px 0px 15px 15px #000;
        max-width: 60%;
    }
    
    #sm-container-img {
        max-width: 100%;
        min-height: 100%;
    }
    
    .mini-gallery{
        padding: 5px 5px 5px 5px;
        width: 100%;
        margin: 0px;
    }
    
    #gamemode-title{
        font-size: 25px;
        color: white;
        font-family: sans-serif !important;
        font-weight: 400;
        margin-top: 10px;
    }
    
    #gamemode-logo {
        margin-right: 20px;
        max-width: 10%;
    }
    
    #server-content{
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-weight: 700;
    }
}