@charset "UTF-8";
/*#3498db  edit   */
/*#8e44ad  save   */
/*#2ecc71    new  */
/*#555555  cancel   */
/*#c0392b  delete   */
/* 1st alternate hover colors if hover inset shadow not working properly
$gw-blue-dark: rgb(27, 79, 114); /*#1b4f72
$gw-purple-dark: rgb(74, 35, 90);  /*#4a235a
$gw-green-dark: rgb(29, 131, 72); /*#1d8348
$black: rgb(0, 0, 0); /*#000000
$gw-red-dark: rgb(123, 36, 28); /*#7b241c */
.button {
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  display: inline-block;
  color: #FFF;
  border-radius: 0.25em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
}

.primary {
  line-height: 40px;
  transition: ease-in-out 0.2s;
  padding: 0 16px;
}

.primary:hover, .condensed:hover, .touch:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
}

/* 2nd alternate hover colors if hover inset shadow not working properly 
.edit:hover {
  background: darken($gw-blue, 10%);
}

.save:hover {
  background: darken($gw-purple, 10%);
}

.new:hover {
  background: darken($gw-green, 10%);
}

.cancel:hover {
  background: darken($gw-gray-5, 10%);
}

.delete:hover {
  background: darken($gw-red, 10%);
}
*/
.condensed {
  transition: ease-in-out 0.2s;
  line-height: 24px;
  padding: 0 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.touch {
  transition: ease-in-out 0.2s;
  line-height: 40px;
  width: 40px;
  padding-left: 10px;
  text-align: center;
  margin-right: 5px;
  margin-left: 15px;
}

.edit:before, .save:before, .new:before, .cancel:before, .delete:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1rem;
  padding-right: 12px;
  background: none;
  color: #FFF;
}

.condensed.edit:before, .condensed.save:before, .condensed.new:before, .condensed.cancel:before, .condensed.delete:before {
  content: none;
}

.touch.edit:before, .touch.save:before, .touch.new:before, .touch.cancel:before, .touch.delete:before {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

.inlineIcon.edit, .inlineIcon.save, .inlineIcon.new, .inlineIcon.cancel, .inlineIcon.delete {
  background: transparent;
}

.inlineIcon.edit:before, .inlineIcon.save:before, .inlineIcon.new:before, .inlineIcon.cancel:before, .inlineIcon.delete:before {
  line-height: 32px;
  font-size: 32px;
  padding: 4px 0px;
}

.edit {
  background: #3498db;
}
.edit:before {
  content: "";
}

.inlineIcon.edit:before {
  color: #3498db;
}

.save {
  background: #8e44ad;
}
.save:before {
  content: "";
}

.inlineIcon.save:before {
  color: #8e44ad;
}

.new {
  background: #2ecc71;
}
.new:before {
  content: "";
}

.inlineIcon.new:before {
  color: #2ecc71;
}

.cancel {
  background: #555555;
}
.cancel:before {
  content: "";
}

.inlineIcon.cancel:before {
  color: #555555;
}

.delete {
  background: #c0392b;
}
.delete:before {
  content: "";
}

.inlineIcon.delete:before {
  color: #c0392b;
}

.edit-btn {
  margin-right: 10px;
  margin-left: 20px;
}

.addnew-btn {
  width: 150px;
  margin-bottom: 1vh;
  text-align: center;
  background-color: #edc124;
}

.logout-btn{
  padding-right: 65px;
  background: #ed2424;
  text-align: center;
  border: none;
  font-family: Nunito;
  font-weight: bold;
}