.div-form {
    margin-left: 5%;
    margin-top: 5%;
}

.event-form {
    font-size: 30px;
}

.image-form {
    height: 100%;
}

.div-button {
    margin-top: 10%;
}

.button-class {
    margin-right: 10%;
}
