    .bg-mass {
        min-height: 130vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/maskworkout.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    #mass-h1 {
        font-family: Nunito;
        color: #FDCD22;
        font-weight: bold;
        font-stretch: ultra-expanded;
        margin-top: 3%;
    }
    
    .mass-p {
        font-family: Nunito;
        color: white;
        margin-top: 5%;
        max-width: 100%;
        text-align: left;
    }
    
    .about-p.show-more .moreText {
        display: inline;
    }
    
    #swiper-container-mask {
        max-width: 82%;
        margin-top: 0%;
    }
    
    #swiper-slide-mask {
        max-width: 100%;
        max-height: 100%;
        margin-top: 5%;
    }
    
    #swiper-slide-mask img {
        display: block;
        width: 300px !important;
        height: 200px !important;
        object-fit: cover;
        position: relative;
    }
    
    figure {
        width: 300px !important;
        box-sizing: border-box;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    .img-fluid {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    
    .tgl {
        font-family: Nunito;
        font-weight: bold;
        color: #FDCD22;
        font-size: 13px;
        margin-top: -3%;
    }
    
    .fa-calendar-alt {
        color: #FDCD22;
    }
    
    #see-more-mask {
        width: 20%;
        margin-top: 10%;
        position: relative;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    
    #btn-mask {
        color: #FDCD22;
        margin-top: 6%;
    }
    /* Table Mode */
    
    @media all and (min-width: 768px) and (max-width: 1366px) {
        #mass-h1 {
            /* font-size: 70px; */
            margin-top: 7%;
            margin-bottom: 7%;
        }
        .mass-p {
            text-align: justify;
        }
        #mass-date {
            display: none;
        }
        #mass-swipper {
            margin: 0;
        }
        #mask {
            margin-top: -30%;
        }
        #swiper-container-mask {
            max-width: 100%;
        }
        #btn-mask {
            color: #FDCD22;
            /* margin-top: -10% !important; */
        }
        #see-more-mask {
            width: 20%;
            border-radius: 20px;
            margin-top: 10%;
        }
    }
    /* Phone Mode */
    
    @media all and (max-width: 767px) {
        #see-more {
            width: 90%;
        }
        #mass-h1 {
            font-size: 45px;
            margin-top: 7%;
            margin-bottom: 7%;
        }
        .mass-p {
            font-size: 17px;
            text-align: start;
        }
        #mass-date {
            display: none;
        }
        #mass-swipper {
            margin: 0;
        }
        #btn-mask {
            color: #fff;
            margin-top: 25%;
            position: absolute;
        }
        #swiper-container-mask {
            max-width: 90% !important;
        }
        #swiper-slide-mask {
            max-width: 100% !important;
        }
        #see-more-mask {
            width: 80%;
            margin-top: 10%;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
        }
    }
    
    @media all and (max-width: 400px) {
        #swiper-container-mask {
            max-width: 100% !important;
        }
        /* #swiper-slide-mask {
            max-width: 100% !important;
        } */
    }
    
    @media all and (min-width: 768px) and (max-width:1366px) {
        /* #swiper-container-mask {
            max-width: 100% !important;
        }
        #swiper-slide-mask {
            min-width: 100% !important;
        }
        #swiper-slide-mask img {
            display: block;
            width: 300px !important;
            height: 200px !important;
            object-fit: cover;
            position: relative;
        } */
        #btn-mask {
            margin-top: 5%;
        }
    }